# Build output
dist
# Dependencies
node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
.pnpm-debug.log*
lerna-debug.log*
yarn-debug.log*
yarn-error.log*

# Cache
.cache
*.tsbuildinfo
.npm
.eslintcache
.stylelintcache

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Environment
.env
.env.development*
.env.local*
.env.production*
.env.test*

# Temporary files
*~
.directory
.DS_*
.fuse_hidden*
.nfs*
.temp*
.Trash-*
